@{
    ViewData["Title"] = "Cadastro";
}

<div class="conteiner-fluid">
    <div class="row p-3">
        <div class="col-lg-6 col-12">
            <h2 class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center font-weight-bold">Faça seu
                login:</h2>

            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="EmailLogin">Endereço de email: </label>
                    <input type="email" class="form-control" id="EmailLogin" name="EmailLogin" placeholder="Digite seu email para login" required>
                    <div class="valid-tooltip">Tudo Certo!</div>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="SenhaLogin">Senha: </label>
                    <input type="password" class="form-control" id="SenhaLogin" name="SenhaLogin" placeholder="Digite a senha." required>
                    <div class="valid-tooltip">Tudo Certo!</div>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="ManterConectado" id="ManterConectado">
                    <label class="form-check-label mb-1" for="ManterConectado">Lembrar da senha.</label>
                </div>
                <button type="submit" class="btn btn-outline-primary">Entrar</button>
            </form>

        </div>
        <div class="col-lg-6 col-12">
            <h2 class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center font-weight-bold">Faça seu
                cadastro:</h2>

            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="NomeCadastro">Nome:</label>
                    <input type="text" class="form-control" id="NomeCadastro" name="NomeCadastro"
                        placeholder="Digite seu nome." required>
                    <div class="valid-tooltip">Tudo Certo!</div>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="NomeSocialCadastro">Nome social:</label>
                    <input type="text" class="form-control" id="NomeSocialCadastro" name="NomeSocialCadastro"
                        placeholder="Digite seu nome social.">
                </div>
                <div class="form-group">
                    <label for="EmailCadastro">Email</label>
                    <input type="email" class="form-control" id="EmailCadastro" placeholder="Digite seu email"
                        name="EmailCadastro" required>
                    <div class="valid-tooltip">Tudo Certo!</div>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="DataNascimentoCadastro">Data de nascimento:</label>
                    <input type="date" id="DataNascimentoCadastro" name="DataNascimentoCadastro" required>
                </div>
                <button class="btn btn-outline-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>