@{
    ViewData["Title"] = "Cadastro";
}

<div class="conteiner-fluid">
    <div class="row p-3">
        <div class="col-lg-6 col-12">
            <h2 class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center font-weight-bold">Faça seu
                login:</h2>

            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="EmailLogin">Endereço de email: </label>
                    <input type="email" class="form-control" id="EmailLogin" name="EmailLogin"
                        placeholder="Digite seu email para login" required>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="SenhaLogin">Senha: </label>
                    <input type="password" class="form-control" id="SenhaLogin" name="SenhaLogin"
                        placeholder="Digite a senha." required>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="ManterConectado" id="ManterConectado">
                    <label class="form-check-label mb-1" for="ManterConectado">Lembrar da senha.</label>
                </div>
                <button type="submit" class="btn btn-outline-primary">Entrar</button>
            </form>

            <div class="container-fluid">
                <h5 class="shadow-sm p-3 mb-2 bg-white rounded d-flex justify-content-center font-weight-bold">Login pelas redes sociais:</h5>
                <ul class="socialLinks d-flex justify-content-center">
                     <li class="google">
                        <a target="_blank" href="#">
                             <div id="buttonDiv"></div>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="#" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="facebook">
                        <a target="_blank" href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="instagram">
                        <a target="_blank" href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <ul type="none">
            <li>Área dos Usuários:</li>
            <li><a asp-action="Create" asp-controller="CadastrarUsuarios"><button>Cadastra-se Aqui</button></a></li>
            <li><a asp-action="Create" asp-controller="Avaliacaos"><button>Avalie Aqui</button></a></li>
            <li><a asp-action="Index" asp-controller="Avaliacaos"><button>Consultar Avaliações</button></a></li>
        </ul>
        <br>
        <ul type="none">
            <li>Área dos Administradores:</li>
            <li><a asp-action="Create" asp-controller="CadastrarEstabelecimentoes"><button>Cadastrar Estabelecimento</button></a></li>
            <li><a asp-action="Index" asp-controller="CadastrarEstabelecimentoes"><button>Consultar Estabelecimentos</button></a></li>
            <li><a asp-action="Index" asp-controller="CadastrarUsuarios"><button>Consultar Usuários</button></a></li> 
        </ul>

        <div class="col-lg-6 col-12">
            <h2 class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center font-weight-bold">Faça seu
                cadastro:</h2>

            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="NomeCadastro">Nome:</label>
                    <input type="text" class="form-control" id="NomeCadastro" name="NomeCadastro"
                        placeholder="Digite seu nome." required>
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="NomeSocialCadastro">Nome social:</label>
                    <input type="text" class="form-control" id="NomeSocialCadastro" name="NomeSocialCadastro"
                        placeholder="Digite seu nome social.">
                </div>
                <div class="form-group">
                    <label for="EmailCadastro">Email:</label>
                    <input type="email" class="form-control" id="EmailCadastro" placeholder="Digite seu email"
                        name="EmailCadastro" required>                    
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="DataNascimentoCadastro">Data de nascimento:</label>
                    <input type="date" id="DataNascimentoCadastro" name="DataNascimentoCadastro" required>
                </div>
                <div class="form-group">
                    <label for="SenhaCadastro">Senha:</label>
                    <input type="password" class="form-control" id="SenhaCadastro" placeholder="Digite a senha."
                        name="SenhaCadastro" required>                    
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <div class="form-group">
                    <label for="SenhaCadastroConfirmacao">Confirme a senha:</label>
                    <input type="password" class="form-control" id="SenhaCadastroConfirmacao"
                        placeholder="Digite novamente a senha." name="SenhaCadastroConfirmacao" required>                    
                    <div class="invalid-feedback">Digite os dados corretamente!</div>
                </div>
                <button class="btn btn-outline-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>