@{
    ViewData["Title"] = "Locais Populares";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button id="btn-test">test</button>

<section>
    <div class="menu-lateral mostrar" id="1">
        <nav>
            <li><a href="/home.cshtml"> Locais</a></li>
            <li><a href="#">Voos</a></li>
            <li><a href="#">Hoteis</a></li>
            <li><a href="#">Atividades</a></li>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Sing In</a></li>
        </nav>
    </div>
</section>