<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6GRfFuWsjNU" allowfullscreen></iframe>
</div>
<div class="area-do-conteudo row">
    <article class="col-sm mt-5 mb-5">
        <img class="img-thumbnail mt-5 mb-5" src="~/IMG/cadeirante-sorrindo.jpg" alt="imagem temporaria">
        <p class="text-justify"> 
            Encontre locais que contenham acessibilidade.  Encontre locais com rampas de acesso, cardapio em braile, interpleti de libras e outros tipos de acessibilidade, olhe os comentaros dos usuarios sobre os locais e encontre o local mais confortavel para você.
        </p>
    </article>
    <article class="col-sm mt-5 mb-5">
        <img class="img-thumbnail mt-5 mb-5" src="~/IMG/screen.jpg" alt="imagem temporaria">
        <p class="text-justify">
            Imagine chegar em um local pra jantar com a familia e não ter uma rampa de acesso, não ter alguem que entenda libras pra te atender ou depender de alguem para ler o cardapio pois o restalrente não pensou em você, A Acecidade vem pra impedir isso, veja locais recomendados perto de você, leia os feedbacks sobre o local deixado por usuarios com deficiencia, veja a melhor rota, as imagens do local e encontre o melhor local pra você se sentir confortavel.</p>
    </article>
</div>

<div class="container-fluid">
    <div class="area-dos-devs container mt-5 ">
        <p class="font-weight-bold d-flex justify-content-center mt-5">Desenvolvedores</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://avatars.githubusercontent.com/u/52760060?v=4"
                            width="70">
                        <div class="d-flex flex-column ml-2"><span>Jonas Jesus</span><span class="text-black-50">Rio de
                                Janeiro</span><span class="ratings"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                        </div>
                    </div>
                    <h6>Estudante de programação Full Stack na Recode Pro e cadete na 42 rio.</h6>
                    <div class="d-flex justify-content-between install mt-3 text-primary"><a
                            href="https://www.linkedin.com/in/alanmirandasilva/">Linkedin</a><a
                            href="https://github.com/JonasJesus42" class="text-primary">Github&nbsp;<i
                                class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://avatars.githubusercontent.com/u/12565578?v=4"
                            width="70">
                        <div class="d-flex flex-column ml-2"><span>Alan Miranda</span><span class="text-black-50">Cotia
                                - SP
                                - Brasil</span><span class="ratings"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                        </div>
                    </div>
                    <h6>Estudante na área de programação e tecnologia no RecodePro 2021 e futuramente um desenvolvidor
                        Full
                        Stack.</h6>
                    <div class="d-flex justify-content-between install mt-3 text-primary"><a
                            href="https://www.linkedin.com/in/jonas-jesus-177967191/">Linkedin</a><a
                            href="https://github.com/JonasJesus42" class="text-primary">Github&nbsp;<i
                                class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://avatars.githubusercontent.com/u/68296343?v=4"
                            width="70">
                        <div class="d-flex flex-column ml-2"><span>Daniel</span><span class="text-black-50">São
                                Paulo</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>RecodePro 2021.</h6>
                    <div class="d-flex justify-content-between install mt-3 text-primary"><a
                            href="https://www.linkedin.com/in/dsb1985/">Linkedin</a><a
                            href="https://github.com/DanSilBar" class="text-primary">Github&nbsp;<i
                                class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://avatars.githubusercontent.com/u/63817214?v=4"
                            width="70">
                        <div class="d-flex flex-column ml-2"><span>Hélio Carvalho</span><span
                                class="text-black-50">Florianópolis</span><span class="ratings"><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i></span></div>
                    </div>
                    <h6>Full Stack em Formação - RecodePro2021\r\nEstudante Eng. Mecatrônica - IFSC 4th\r\n</h6>
                    <div class="d-flex justify-content-between install mt-3 text-primary"><a
                            href="https://www.linkedin.com/in/h%C3%A9lio-carvalho-158223157/">Linkedin</a><a
                            href="https://github.com/JonasJesus42" class="text-primary">Github&nbsp;<i
                                class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://avatars.githubusercontent.com/u/85186708?v=4"
                            width="70">
                        <div class="d-flex flex-column ml-2"><span>Renan Terleski</span><span class="text-black-50">São
                                josé
                                dos pinhais</span><span class="ratings"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                        </div>
                    </div>
                    <h6>Estudante iniciante de programação.</h6>
                    <div class="d-flex justify-content-between install mt-3 text-primary"><a
                            href="https://www.linkedin.com/in/renan-terleski-teixeira-a6a859222/">Linkedin</a><a
                            href="https://github.com/renansktt" class="text-primary">Github&nbsp;<i
                                class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://avatars.githubusercontent.com/u/96456762?v=4"
                            width="70">
                        <div class="d-flex flex-column ml-2"><span>Divanei Santos</span><span
                                class="text-black-50">SP</span><span class="ratings"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                        </div>
                    </div>
                    <h6>RecodePro 2021.</h6>
                    <div class="d-flex justify-content-between install mt-3 text-primary"><a
                            href="https://www.linkedin.com/in/divanei-santos-b9aa1a168">Linkedin</a><a
                            href="https://api.github.com/users/divanei-santos" class="text-primary">Github&nbsp;<i
                                class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>