
<div class="main-content ">
        <div class=" text-center h1 text-black ">Locais Populares</div>
        <div class="module-section clearfix">
            <button class="btn arrow-guides fa-chevron-left"></button>
            <ul id="content">
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            class="rounded mx-auto d-block" width="300" height="150" alt=""
                                            src="~/IMG/índice.png" draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>i km</span>
                                    <p class="box-title">McDonald's<small>Fest Food</small></p>
                                    <div class="feedback">
                                        <div data-placement="bottom" data-toggle="tooltip" class="fa fa-star" title=""
                                            data-original-title="4 stars"><span style="width: 80%;"
                                                class="five-stars"></span></div> <span class="review">4 estrelas</span>
                                    </div>
                                    <p class="description">Rampa de acesso e interplete de libras.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class=" text-center h1 text-black ">Bem avaliados</div>

        <div class="module-section clearfix">
            <button class="btn arrow-guides fa-chevron-left"></button>
            <ul id="content">

                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            class="rounded mx-auto d-block" width="300" height="150" alt=""
                                            src="~/IMG/índice.png" draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>i km</span>
                                    <p class="box-title">McDonald's<small>Fest Food</small></p>
                                    <div class="feedback">
                                        <div data-placement="bottom" data-toggle="tooltip" class="fa fa-star" title=""
                                            data-original-title="4 stars"><span style="width: 80%;"
                                                class="five-stars"></span></div> <span class="review">4 estrelas</span>
                                    </div>
                                    <p class="description">Rampa de acesso e interplete de libras.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="inside-top">
                        <div class="p-3">
                            <article>
                                <figure> <a href="#"
                                        class="hover-effect popup-gallery d-flex justify-content-center"><img
                                            width="300" height="150" alt="" src="~/IMG/dominos-fica-em-casa.webp"
                                            draggable="false"></a> </figure>
                                <div class="details"> <span class="price"><small>Distancia</small>2 km</span>
                                    <p class="box-title">Domino’s Pizza<small>Pizzaria</small></p>
                                    <div class="feedback">
                                        <span class="review">5 estrelas</span>
                                    </div>
                                    <p class="description">Rampa, cardapio em braile.</p>
                                    <div class="action"> <a class="button btn-small" href="#">Sobre</a> <a
                                            class="button btn-small yellow popup-map" href="#"
                                            data-box="37.089072, -8.247880">Ver no Mapa</a> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>